@page "/archive"

<PageTitle>NS Tech Events - Archive</PageTitle>

<h1>Archive</h1>

<div style='position: relative; padding-bottom: 80%;  overflow: hidden;'>
        <iframe width="100%" class="iframe"
            src="https://web.microsoftstream.com/embed/channel/ece345c5-51b7-4910-b4a2-90b0e1f726ae?sort=date"
            allowfullscreen
            style='border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'></iframe>
    </div>