@page "/"

<style>
    .thumb-slider {
        height: 400px;
    }

    a.video-link{
        box-shadow:none;
        background-color:purple;
    }
</style>
<section class="text-center container">
    @if (State.TechTalks.Live.Active)
    {
        <LiveWidget Session="@State.TechTalks.Live"  />
    }
    else
    {

        <iframe width="853" height="480" src="@State.TechTalks.FeaturedVideo" allowfullscreen style="border:none;"></iframe>


    }
</section>
<section class="container thumb-slider">
    <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'>
        <iframe width="100%" height="400" src="@State.TechTalks.ChannelUrl" allowfullscreen style='border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 400px; max-width: 100%;'></iframe></div>
</section>
<section class="container thumb-slider">
    <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'>
        <iframe width="100%" height="400" src="@State.TechBits.ChannelUrl" allowfullscreen style='border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 400px; max-width: 100%;'></iframe></div>
</section>

@code {


    [CascadingParameter]
    protected State? State { get; set; }
    }