@page "/techtalks"

<PageTitle>NS Tech Events - TechTalks</PageTitle>

<h1>TechTalks</h1>

<div style='max-width: 960px'><div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'><iframe width="960" height="540" src="https://web.microsoftstream.com/embed/channel/33f159ae-3ef0-4b20-89b4-3a36ad9580ae?sort=trending" allowfullscreen style='border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'></iframe></div></div>