@page "/techbits"

<PageTitle>NS Tech Events - TechBits</PageTitle>

<section class="text-center container">

        <iframe width="853" height="480" src="@State.TechBits.FeaturedVideo" allowfullscreen style="border:none;"></iframe>

</section>

    
<section class="text-center container">
    <ChannelCollection Session="State.TechBits"/>
</section>

@code {
    [CascadingParameter]
    protected State? State { get; set; }
    }