@page "/techbits"

<PageTitle>NS Tech Events - TechBits</PageTitle>

<div style='max-width: 1280px'>
    <div style='position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;'>
        <iframe width="1280" height="720" src="https://web.microsoftstream.com/embed/channel/2e02816b-554e-4781-8e11-82262222d920?sort=date" allowfullscreen style='border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'>
        </iframe>
    </div>
</div>
