@page "/techtalks"
@inject StateService stateService

<PageTitle>NS Tech Events - TechTalks</PageTitle>
<section class="text-center container">

        <LiveWidget/>

        </section>>

    
<div>
    <div style='position: relative; padding-bottom: 80%;  overflow: hidden;'>
        <iframe width="100%" class="iframe"
            src="https://web.microsoftstream.com/embed/channel/33f159ae-3ef0-4b20-89b4-3a36ad9580ae?sort=date"
            allowfullscreen
            style='border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'></iframe>
    </div>
</div>

