@page "/techtalks"
@inject StateService stateService

<PageTitle>NS Tech Events - TechTalks</PageTitle>
<section class="text-center container">
    @if (State.TechTalks.Live.IsLive)
    {
        <LiveWidget Session="State.TechTalks.Live" />
    }
    else
    {

        <iframe width="853" height="480" src="@State.TechTalks.FeaturedVideo" allowfullscreen style="border:none;"></iframe>


    }
</section>

    
<section class="text-center container">
    <ChannelCollection Session="State.TechTalks"/>
</section>

@code {
    [CascadingParameter]
    protected State? State { get; set; }
    }