<div style='position: relative; padding-bottom: 80%;  overflow: hidden;'>
    <iframe width="100%" class="iframe" src="@Session.ChannelUrl" allowfullscreen
        style='border:none; position: absolute; top: 0; left: 0; right: 0; bottom: 0; height: 100%; max-width: 100%;'></iframe>
</div>

@code {
    [Parameter]
    public TechEvent Session { get; set; }
}