<style>
    .live-widget{
        background-color: #ccc;
        background-image: url('img/back.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        color: #fff;
        text-decoration: none;
    }
    .live-widget:hover{
        
        color: #fff;
    }

    .play-button{
        color: #fff;
    }
     .play-button:hover{
        color: #90EE90;
    }
</style>

    <a href="#" class="live-widget row py-5 ">
       
        <div class="col-lg-6 col-md-8 mx-auto">
            <span class="badge text-bg-danger">NOW LIVE</span>
            <h1 class="fw-light">@Title</h1>
            <p class="lead">@Summary</p>
        
                
                <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" fill="currentColor" class="play-button bi bi-play-circle-fill" viewBox="0 0 16 16">
  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
</svg>
            
            
        </div>
    
    </a>

    @code {
        [Parameter]
        public string Title { get; set; }
        [Parameter]
        public string Summary { get; set; }
        [Parameter]
        public string Link { get; set; }
    }

