@using Microsoft.Extensions.Options

<style>
    .logo {
        width: 50px;
        height: 40px;
        background-image: url('img/topaas-logo.png');
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 20px;
    }

    .nav-link {
        color: #fff;
        font-weight: bold;
        text-decoration: none;
    }
</style>


<a href="/" class="logo">

</a>
<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

    <li>
        <NavLink class="nav-link px-2 text-white" href="techtalks">
            TechTalks
            @if (State.Live.IsLive)
            {
                <span class="badge rounded-pill bg-danger">
                    LIVE
                </span>
            }
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link px-2 text-white" href="techbits">
            TechBits
        </NavLink>
    </li>
    <li>
        <NavLink class="nav-link px-2 text-white" href="archive">
            Archive
        </NavLink>
    </li>
</ul>





@code {
    [CascadingParameter]
    protected State? State { get; set; }
    
    private bool isLive = false;
    private bool collapseNavMenu = true;
    
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }



   

   
  
}
